body {
    background-color: white;
    margin: 0;
    padding: 0;
    padding-top: 50px;
    padding-bottom: 50px;
}
h1 {
    font-family: "Times New Roman", Times, serif;
    color: white;
    background-color: rgb(0, 0, 0);
    text-align: center;
    padding: 20px;
    margin: 0;
}
button {
    font-family: "Times New Roman", Times, serif;
    font-size: 18px;
    color: black;
    background-color: transparent;
    border: none;
    cursor: pointer;
    margin: 10px;
    padding: 10px 20px;
    transition: color 0.2s, background-color 0.2s;
}
button:hover {
    color: white;
    background-color: black;
}
.image-container{
    display: flex;
    justify-content: center;
}
.a {
  text-decoration: none;
}
.container{
    max-width: 900px;
    text-align: center;
    align-items: center;
    width: 100%;
    margin: 0 auto;
    background-color: #fff;
    padding: 25px 30px;
    border-radius: 5px;
    box-shadow: 0 5px 10px rgba(0,0,0,0.15);
  }
  .container .title{
    font-size: 40px;
    font-weight: 700;
    position: relative;
  }
  .container .title::before{
    content: "";
    position: absolute;
    left: 0;
    bottom: 0;
    height: 3px;
    width: 30px;
    border-radius: 5px;

  }

  .container2{
    max-width: 1200px;
    text-align: center;
    align-items: center;
    width: 100%;
    margin: 0 auto;
    background-color: #fff;
    padding: 25px 30px;
    border-radius: 5px;
    box-shadow: 0 5px 15px rgba(0,0,0,0.15);
  }
  .text3{
    background-color: transparent;
    color: black;
  }

  table thead th {
    background-color: #1ca73e;
    color: white;
    font-size: 18px;
    padding: 10px;
    text-align: center;
  }
  
  table tbody td {
    background-color: #ffffff;
    color: #444444;
    font-size: 16px;
    padding: 10px;
    text-align: center;
  }
  
  table tbody td img {
    
    max-width: 80px;
  }
  
  table tbody tr:nth-child(even) {
    background-color: #f8f8f8;
  }
  table{
    margin: auto;
  }

  .content form .user-details{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin: 20px 0 12px 0;
    text-align: center;
    
  }
  form .user-details .input-box{
    text-align: center;
    margin-bottom: 15px;
    width: calc(100% / 1 - 20px);
  }
  .pozica{
    border-radius: 50%;
  }
  form .input-box span.details{
    text-align: center;
    font-size: 20px;
    display: block;
    font-weight: 700;
    margin-bottom: 5px;
  }
  input  {
    text-align: center;
  }
  .test4{
    width:  100%;
    height: 40px;
    text-align: center;
  }
  .test22{
    border: none;
    width: 100%;
    max-width: 300px; /* opțional - specifică o lățime maximă pentru input */
  }
  .user-details .input-box input {
    height: 45px;
    width: 100%;
    outline: none;
    font-size: 16px;
    border-radius: 5px;
    padding-left: 15px;
    border-bottom-width: 2px;
    transition: all 0.3s ease;
  }
.muratura{
  font-size: 40px;
  font-weight: 700;
  color: black;
  display: flex;
  justify-content: center;
  margin: 10px 0 30px;

}

  .form-row {
    display: flex;
    align-items: center;
  }
  
  .form-row label {
    margin-right: 10px;
  }
  
  .form-row:last-child {
    justify-content: center;
  }


   form .gender-details .gender-title{
    font-size: 20px;
    font-weight: 500;
   }
   form .category{
     display: flex;
     width: 80%;
     margin: 14px 0 ;
     justify-content: space-between;
   }
   form .category label{
     display: flex;
     align-items: center;
     cursor: pointer;
   }
   form .category label .dot{
    height: 18px;
    width: 18px;
    border-radius: 50%;
    margin-right: 10px;
    background: #d9d9d9;
    border: 5px solid transparent;
    transition: all 0.3s ease;
  }
   form input[type="radio"]{
     display: none;
   }
   form .button2{
     height: 45px;
     margin: auto;
   }
   form .button2 input{
     height: 100%;
     width: 100%;
     border-radius: 5px;
     border: none;
     color: #fff;
     font-size: 18px;
     font-weight: 500;
     letter-spacing: 1px;
     cursor: pointer;
     transition: all 0.3s ease;
     background-color: green;
   }
   form .button2 input:hover{
    /* transform: scale(0.99); */
    background: linear-gradient(-135deg, #71b7e6, #9b59b6);
    }
   @media(max-width: 584px){
   .container{
    max-width: 100%;
  }
  form .user-details .input-box{
      margin-bottom: 15px;
      width: 100%;
    }
    form .category{
      width: 100%;
    }
    .content form .user-details{
      max-height: 300px;
      overflow-y: scroll;
    }
    .user-details::-webkit-scrollbar{
      width: 5px;
    }
    }
    @media(max-width: 459px){
    .container .content .category{
      flex-direction: column;
    }
  }